<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/logonoob.png" type="image/png" sizes="16x16">
    <title>Levin | About Me</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">
</head>


<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                Levin
            </div>
            <div class="left-nav">
                <div class="nav-item"><a href="/about" style="text-decoration: none; color: black;">About</a></div>
                <div class="nav-item"><a href="/contact" style="text-decoration: none; color: black;">Contact</a></div>
                <div class="nav-item"><a href="/home" style="text-decoration: none; color: black;">Home</a></div>
            </div>
        </div>
    </nav>

    <nav class="bot-nav">
        <div class="bot-container">
            <a href="/home" class="bot-item">
                <span class="material-icons-outlined md-36">
                    home
                </span>
            </a>
            <a href="/about" class="bot-item" style="border-bottom: 3px solid rgb(76, 119, 83); color: rgb(76, 119, 83);">
                <span class="material-icons-outlined md-36">
                    account_circle
                </span>
            </a>
            <a href="/contact" class="bot-item">
                <span class="material-icons-outlined md-36">
                    perm_phone_msg
                </span>
            </a>
        </div>
    </nav>

    <div class="main-bg">
        <div class="container">
            <div class="box">
                <div class="text-box" style="text-align: center; width: 350px;">
                    <h1>About Me</h1>
                    <h2>Nguyễn Minh Văn</h2>
                    <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo velit
                        architecto id numquam, quis deleniti voluptate, iure harum reprehenderit nam nihil est ipsum
                        delectus odit. Maxime cum molestiae voluptatibus animi.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>