<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExpressJS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>
<style>
    body {
        margin: 0;
        font-family: 'Be Vietnam Pro', sans-serif;
    }

    .nav {
        position: fixed;
        width: 100%;
        z-index: 1;
        background: rgb(174, 238, 182);
        background: linear-gradient(243deg, rgba(174, 238, 182, 0.836) 0%, rgba(190, 200, 180, 0.801) 34%, rgba(235, 255, 156, 0.692) 72%, rgba(148, 233, 162, 0.788) 100%);
    }

    .logo {
        display: inline-block;
        font-weight: 800;
        flex-grow: 1;
        margin: 12px;
        font-size: x-large;
    }

    .left-nav {
        flex-grow: 1;
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        font-weight: bold;
        align-items: center;
    }

    .nav-item {
        margin: 0px 18px;
        padding: 16px 0px;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        cursor: pointer;
        transition: border-bottom linear 0.2s;
    }

    .nav-item:hover {

        border-bottom: 3px solid black;
        opacity: 0.8;
    }

    .container {
        width: 1200px;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .main-bg {
        background: rgb(189, 174, 238);
        background: linear-gradient(40deg, rgba(189, 174, 238, 1) 0%, rgba(191, 180, 200, 1) 34%, rgba(226, 156, 255, 1) 72%, rgba(233, 148, 220, 1) 100%);
        width: 100vw;
        height: 100vh;
    }

    .box {
        padding: 24px;
        border-radius: 24px;
        transition: padding ease-in-out 0.3s, border-radius ease-in-out 0.3s;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 3px 12px 0 rgba(27, 27, 27, 0.2), 0 6px 20px 0 rgba(65, 65, 65, 0.19);
        background: rgb(255, 255, 255);
        background: linear-gradient(40deg, rgba(255, 255, 255, 0.527) 0%, rgba(233, 233, 233, 0.521) 34%, rgba(213, 213, 213, 0.658) 72%, rgba(241, 241, 241, 0.5) 100%);
    }

    .box:hover {
        padding: 36px;
        border-radius: 36px;
    }

    .ava {
        display: inline-block;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        transition: border linear 1s;
        margin: 0;
    }

    .ava:hover {
        border: 3px solid rgb(0, 0, 0);
    }

    .text-box {
        display: inline-block;
        padding: 0 12px;
        margin: 0;
    }

    .button-set {
        display: flex;
        justify-content: center;
    }

    .btn {
        display: inline-block;
        border-radius: 6px;
        width: 150px;
        text-align: center;
        margin: 12px;
        padding: 12px;
        margin-bottom: 0;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        transition: background-color ease-in-out 0.2s;
        font-weight: bold;
    }

    .main {
        border: 2px solid rgb(77, 66, 82);
        background-color: rgb(77, 66, 82);
    }

    .sub {
        border: 2px solid rgb(97, 93, 71);
        background-color: rgb(97, 93, 71);
    }

    .btn:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }

    @media only screen and (max-width: 450px) {
        .container {
            width: 300px;
        }
    }

    @media only screen and (max-width: 600px) {
        .container {
            width: 450px;
        }
    }

    @media only screen and (max-width: 768px) {
        .container {
            width: 600px;
        }
    }


    @media only screen and (max-width: 1200px) {
        .container {
            width: 768px;
        }
    }
</style>

<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                Levin
            </div>
            <div class="left-nav">
                <div class="nav-item">About</div>
                <div class="nav-item">Contact</div>
                <div class="nav-item">Home</div>
            </div>
        </div>
    </nav>
    <div class="main-bg">
        <div class="container">
            <div class="box">
                <img src="/img/ava.jpg" width="250" height="250" class="ava" />
                <div class="text-box">
                    <h1>Hi!</h1>
                    <h2>I'm Levin</h2>
                    <p>You can get more info about me by clicking these button. </p>
                    <div class="button-set">
                        <a href="" class="btn main">Contact Info</a>
                        <a href="" class="btn sub">About Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>