<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Levin | Home</title>
    <link rel="icon" href="/img/logonoob.png" type="image/png" sizes="16x16">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
</head>


<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                Levin
            </div>
            <div class="left-nav">
                <div class="nav-item"><a href="/about" style="text-decoration: none; color: black;">About</a></div>
                <div class="nav-item"><a href="/contact" style="text-decoration: none; color: black;">Contact</a></div>
                <div class="nav-item"><a href="/home" style="text-decoration: none; color: black;">Home</a></div>
            </div>
        </div>
    </nav>

    <nav class="bot-nav">
        <div class="bot-container">
            <a href="/home" class="bot-item" style="border-bottom: 3px solid rgb(76, 119, 83); color: rgb(76, 119, 83);">
                <span class="material-icons-outlined md-36">
                    home
                </span>
            </a>
            <a href="/about" class="bot-item">
                <span class="material-icons-outlined md-36">
                    account_circle
                </span>
            </a>
            <a href="/contact" class="bot-item">
                <span class="material-icons-outlined md-36">
                    perm_phone_msg
                </span>
            </a>
        </div>
    </nav>

    <div class="main-bg">
        <div class="container">
            <div class="box">
                <img src="/img/ava.jpg" width="250" height="250" class="ava" />
                <div class="text-box">
                    <h1>Hi!</h1>
                    <h2>I'm Levin</h2>
                    <p>You can get more info about me by clicking these button. </p>
                    <div class="button-set">
                        <a href="/contact" class="btn main">Contact Info</a>
                        <a href="/about" class="btn sub">About Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

